/*USO GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff2f2;
  font-family: "Londrina Solid", sans-serif;
}

/*BARRA NAV*/
nav {
  background-color: #524d7d;
  border-bottom: 5px solid #a076f9;
  color: #ffffff;
  display: flex; /* flexbox para distribuir itens */
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 16.35vh;
}

.nav-logo img {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* logo arrendoda */
}

.nav-links {
  display: flex;
  gap: 40px; /* espaço entre links */
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  position: relative;
}

.nav-links a:hover {
  background-color: #fff2f2;
  color: #524d7d;
  border: 2px solid #a88beb;
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.3s ease; /* efeito suave para passar o mouse */
}
.nav-icons {
  display: flex;
  gap: 20px;
}

.nav-icons a img {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}


.inicio {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.section, .Em {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.section h2, .Em h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.section ul, .Em ul {
  list-style: none;
}

.section ul li, .Em div {
  margin: 8px 0;
  font-size: 1rem;
}

.section a, .Em a {
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

.section a:hover, .Em a:hover {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
  color: #888;
}

/* eemail */
.email {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.endereço {
  font-size: 0.95rem;
  color: #555;
}

/* footer. */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

footer img {
  display: block;
  margin: 0 auto 10px;
}

#paragrafo_footer {
  font-size: 0.9rem;
}




