.titulo_2 {
    font-family: 'Londrina Solid', cursive;
    
}

.historias {
    background-color: #FFDDC0;
    padding: 30px; /*espaçamento interno para o contéudo respirar*/
}

.estatisticas {
    background-color: #FFF2F2;
    padding: 30px;
}

h2, h3, p {
    padding: 10px;
    color: #555086;
}

#titulo_historias {
    margin-bottom: 40px;
}

/*USO GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff2f2;
  font-family: "Londrina Solid", sans-serif;
}

/*BARRA NAV*/
nav {
  background-color: #524d7d;
  border-bottom: 5px solid #a076f9;
  color: #ffffff;
  display: flex; /* flexbox para distribuir itens */
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 16.35vh;
}

.nav-logo img {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* logo arrendoda */
}

.nav-links {
  display: flex;
  gap: 40px; /* espaço entre links */
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  position: relative;
}

.nav-links a:hover {
  background-color: #fff2f2;
  color: #524d7d;
  border: 2px solid #a88beb;
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.3s ease; /* efeito suave para passar o mouse */
}
.nav-icons {
  display: flex;
  gap: 20px;
}

.nav-icons a img {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.flexbox {
        display: flex; /* ativa o layout flex */
        justify-content: space-evenly;
      }
      
      .box {
        width: 250px; /* largura fixa para cada bloco */
        display: flex; /* organiza conteudo interno em flexbox */
        flex-direction: column; /* alinhar na vertical */
        align-items: center;   /* centralizar na horizontal */
        text-align: center;    /* centralizar o texto */
      }
      
      .box img {
        width: auto;
        height: 200px;
        border-radius: 20px; /* bordar arredondaas */
        border: 10px solid black;
        margin-bottom: 12px;
      }
      
      .box h3 {
        font-size: 20px;
        font-family: "Inter";
      }
      
      .box p {
        font-size: 14px;
        max-width: 90%;
      }

      
