* {
    font-family: "Inter"; /* inter para todos os elementos*/
    margin: 0px;
}

.titulo_2 {
    font-family: 'Londrina Solid', cursive;
    
}

.historias {
    background-color: #FFDDC0;
    padding: 30px; /*espaçamento interno para o contéudo respirar*/
}

.estatisticas {
    background-color: #FFF2F2;
    padding: 30px;
}

h2, h3, p {
    padding: 10px;
    color: #555086;
}

#titulo_historias {
    margin-bottom: 40px;
}

.flexbox {
        display: flex; /* ativa o layout flex */
        justify-content: space-evenly;
      }
      
      .box {
        width: 250px; /* largura fixa para cada bloco */
        display: flex; /* organiza conteudo interno em flexbox */
        flex-direction: column; /* alinhar na vertical */
        align-items: center;   /* centralizar na horizontal */
        text-align: center;    /* centralizar o texto */
      }
      
      .box img {
        width: auto;
        height: 200px;
        border-radius: 20px; /* bordar arredondaas */
        border: 10px solid black;
        margin-bottom: 12px;
      }
      
      .box h3 {
        font-size: 20px;
        font-family: "Inter";
      }
      
      .box p {
        font-size: 14px;
        max-width: 90%;
      }